# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
# Publish Test Results v2
# Publish test results to Azure Pipelines.
- task: PublishTestResults@2
  inputs:
      testResultsFormat: 'JUnit' # 'JUnit' | 'NUnit' | 'VSTest' | 'XUnit' | 'CTest'. Alias: testRunner. Required. Test result format. Default: JUnit.
          testResultsFiles: '**/TEST-*.xml' # string. Required. Test results files. Default: **/TEST-*.xml.
              #searchFolder: '$(System.DefaultWorkingDirectory)' # string. Search folder. Default: $(System.DefaultWorkingDirectory).
                  #mergeTestResults: false # boolean. Merge test results. Default: false.
                      #failTaskOnFailedTests: false # boolean. Fail if there are test failures. Default: false.
                          #failTaskOnFailureToPublishResults: false # boolean. Fail if there is failure in publishing test results. Default: false.
                              #failTaskOnMissingResultsFile: false # boolean. Fail if no result files are found. Default: false.
                                  #testRunTitle: # string. Test run title. 
                                    # Advanced
                                        #buildPlatform: # string. Alias: platform. Build Platform. 
                                            #buildConfiguration: # string. Alias: configuration. Build Configuration. 
                                                #publishRunAttachments: true # boolean. Upload test results files. Default: true.